body {
   background-image: url("stoneBrick.png");
   background-repeat: repeat;
}
canvas {
   padding: 20;
   margin-left: auto;
   margin-right: auto;
   display: block;
   width: 570px;
   height: 170px;
   box-shadow: 10px 10px 5px #333333;
}
h1{
   font-family: "Verdana", serif;
   text-align: center;
   font-size: 4em;
   color: white;
   text-shadow: 8px 8px 10px #222222;
}
h3{
   font-family: "Verdana", serif;
   font-size: 1.7em;
   color: white;
   text-shadow: 3px 3px 3px #222222;
}
a{
    color: white;
}
#buttonDiv {
   width: 500px;
   height: 170px;
   margin: auto;
}
#dynmap {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#reddit {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#discord {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#donate{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#bitcoinQRcode{
   margin-right: auto;
   margin-left: auto;
   text-align: center;
   
}

#worlds
{
   margin: auto;
   width: 80%;
   text-align: center;
}

#worlds table, td
{
   border: 2px solid white;
   width: 80%;
}

table
{
   width: 100%;
}

a, p
{
   font-family: "Verdana", serif;
   color: white;
   text-shadow: 1px 1px 1px #222222;
}
